.nav-items{
    font-size: 18px;
    font-weight: 600;
    padding-right: 20px;
}
.input-area{
    margin: auto;
}
.search-button{
    cursor: pointer;
    background-color: #F06C4E;
    color: white;
}
.card-custom{
    width: 450px;
    margin: auto;
    border-style: none;  
}
.card-body-custom{
    background-color: #F8F7F5;
}
.card-custom img{
    /* height: 350px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.foodDiv{
    cursor: pointer;
}
.nothing{
    color: #F06C4E;
    text-align: center;
}