.input-area{
    margin: auto;
}
.search-button{
    cursor: pointer;
    background-color: #F06C4E;
    color: white;
}
.card-custom{
    width: 450px;
    margin: auto;
}
.card-custom img{
    height: 350px;
}
.foodDiv{
    cursor: pointer;
}
.nothing{
    color: #F06C4E;
    text-align: center;
}